@using MyBlog.Web.Models;
<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("_head")
    @RenderSection("style", false)
</head>

<body class="no-skin">
    @Html.Partial("_navbar")

    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
            try { ace.settings.loadState('main-container') } catch (e) { }
        </script>

        @Html.Partial("_sidebar")

        <div class="main-content">
            <div class="main-content-inner">
                @Html.Partial("_breadcrumbs")

                @RenderBody()
            </div>
        </div><!-- /.main-content -->
        @Html.Partial("_footer")

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div><!-- /.main-container -->
    @Html.Partial("_script")
    @RenderSection("scripts", false)
</body>
</html>