@using MyBlog.Web.Models;
@{
    Layout = "~/views/shared/_layout.cshtml";
    ViewBag.Title = "管理员信息";
    ViewBag.PageName = "admin";
    admin _admin = ViewBag.EditAdmin;
}

<div class="panel panel-default">
    <div class="panel-heading">
        管理员信息
    </div>
    <div class="panel-body">
        <form id="admin_edit_form" name="admin_edit_form" class="form-horizontal" role="form" method="post" action="admin_edit?id=@(_admin.id)">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="login_name">
                    登录名：
                </label>
                <div class="col-sm-9">
                    <input type="text" value="@(_admin.login_name)" id="login_name" placeholder="请输入用户的登录名" name="login_name" class="col-xs-10 col-sm-5" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="real_name">
                    真实姓名：
                </label>
                <div class="col-sm-9">
                    <input type="text" value="@(_admin.real_name)" id="real_name" placeholder="请输入用户的真实姓名" name="real_name" class="col-xs-10 col-sm-5" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="phone">
                    手机号码：
                </label>
                <div class="col-sm-9">
                    <input type="text" value="@(_admin.phone)" id="phone" placeholder="请输入用户手机号码" name="phone" class="col-xs-10 col-sm-5" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="password">
                    密码：
                </label>
                <div class="col-sm-9">
                    <input type="password" id="password" placeholder="请输入用户的登录密码" name="password" class="col-xs-10 col-sm-5" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="head_img">
                    头像：
                </label>
                <div class="col-sm-9">
                    <input type="hidden" name="head_img" value="@(_admin.head_img)" />
                    <img src="@(_admin.head_img)" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="head_img">
                    超级管理员：
                </label>
                <div class="col-sm-9">
                    <input type="radio" name="is_super" value="0" @(_admin.is_super == false ? "checked" : "") />否
                    <input type="radio" name="is_super" value="1" @(_admin.is_super == true ? "checked" : "") />是
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="head_img">
                </label>
                <div class="col-sm-9">
                    <a class="btn btn-success" href="javascript:;" id="admin_edit_btn">保存</a>
                    <a class="btn btn-danger" href="javascript:;">刷新</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <script src="https://unpkg.com/qiniu-js@2.2.1/dist/qiniu.min.js"></script>
    <script type="text/javascript">
        $("#admin_edit_btn").click(function () {
            var $id=@(_admin.id);
            var $real_name = $("input[name='real_name']").val();
            var $login_name = $("input[name='login_name']").val();
            var $phone = $("input[name='phone']").val();
            var $pass_word = $("input[name='password']").val();
            var $head_img=$("input[name='head_img']").val();
            var $is_super=$('input[name="is_super"]:checked').val()
            var $flag = true;

            if ($flag == true && $real_name == "") {
                $flag = false;
                alert("真实姓名不能为空！");
            }
            if ($flag == true && $login_name == "") {
                $flag = false;
                alert("登录名称不能为空！");
            }
            if ($flag == true && $phone == "") {
                $flag = false;
                alert("手机号码不能为空！");
            }
            if ($flag == true) {
                $.post("admin_edit",
                    {
                        real_name: $real_name,
                        login_name: $login_name,
                        phone: $phone,
                        password: $pass_word,
                        head_img: $head_img,
                        is_super: $is_super,
                        id:$id
                    },function(data){
                        alert("保存管理员信息成功");
                        location.reload();
                    },'json')
            }
        });
    </script>
    <script type="text/javascript">
        var key="test.jpg";
        var token='';
        var putExtra={
            fname:"",
            params:{},
            mimeType:[]||null
        };
        var config={
            useCdnDomain:false,
            region:null
        };
        $.post("~/api/qntoken",function(data){
            token=data;
            var observable = qiniu.upload(file, key, token, putExtra, config)
        });

    </script>
}